
DATABASE_URL=postgresql://user@localhost:5432/hono_test
JWT_SECRET=supersecretencryptionkey
OTEL_TRACES_EXPORTER="console"
OTEL_METRICS_EXPORTER="console"
OTEL_LOGS_EXPORTER="console"
OTEL_SERVICE_NAME="hono-test"
